<%= form_for(@public_holiday) do |f| %>
  <% if @public_holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_holiday.errors.count, "error") %> prohibited this public_holiday from being saved:</h2>

      <ul>
      <% @public_holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.label :leave_date %>
  <%= f.text_field :leave_date, id: 'datepicker'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
