<div class='container well'>
<div class='row'>
  <div class='span6'>
    <h3>
      IRCTC Reminder Details
    </h3>
  </div>
</div>
</div>

<div class='well'>
<h4>Listing public_holidays</h4>

<table class = 'table table-bordered table-striped table-hover'>
  <%if @public_holidays.any?%>
  <tr>
    <th>Occasion</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
<%end%>

<% @public_holidays.each do |public_holiday| %>
  <tr>
    <td><%= public_holiday.name %></td>
    <td><%= public_holiday.leave_date %></td>
    <td><%= link_to 'Edit', edit_public_holiday_path(public_holiday) %></td>
    <td><%= link_to 'Destroy', public_holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</table>
<%= link_to 'New Public holiday', new_public_holiday_path %>
</div>
