<div class='well'>
<h3>User details</h3>

<table class = 'table table-bordered table-striped table-hover'>
  <%if @user_details.any?%>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>E-mail id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%end%>
<% @user_details.each do |user_detail| %>
  <tr>
    <td><%= user_detail.name %></td>
    <td><%= user_detail.phone_number %></td>
    <td><%= user_detail.email_id %></td>
    <td><%= link_to 'Show', user_detail %></td>
    <td><%= link_to 'Edit', edit_user_detail_path(user_detail) %></td>
    <td><%= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User detail', new_user_detail_path %>
</div>